.btn {
  min-width: 150px;
  padding: 13.75px 0;
  font-weight: 600;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 150%;
  text-align: center;
  color: #fff;
  background-color: $orange;
  box-shadow: $box-shadow;
}
