.my-purpose {
  #img-against-wall {
    position: relative;
    left: -20%;
  }

  #img-blastik-promo {
    position: relative;
    right: -20%;
  }

  #img-yolo {
    position: relative;
    top: -10vh;
  }
}
