.my-purpose #img-against-wall {
  position: relative;
  left: -20%;
}

.my-purpose #img-blastik-promo {
  position: relative;
  right: -20%;
}

.my-purpose #img-yolo {
  position: relative;
  top: -10vh;
}
