.my-story {
  overflow-y: hidden;
}

.my-story .blur-text-block {
  width: 83%;
  height: auto;
}

.my-story .img-block {
  top: -20%;
}

.my-story .img-block img {
  width: 257px;
  height: 528px;
  object-fit: cover;
}

.my-story .btn {
  margin-right: 10%;
}
