@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_variables";
@import "./_common.scss";
@import "./_normalization.scss";
@import "./font/index.scss";
@import "./components/index.scss";
@import "./effects/index.scss";
@import "./pages/index.scss";

/*pay attention: #root > div*/
html,
body,
#root,
#root > div {
  height: 100%;
}

body {
  background-color: #fff;
}

.app {
  overflow-x: hidden;
}
