@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./_variables";
@import "./_common";
@import "./_normalization";
@import "./font/index";
@import "./components/index";
@import "./effects/index";
@import "./pages/index";

/*pay attention: #root > div*/
html,
body,
#root,
#root > div {
  height: 100%;
}

* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fff;
}

.app {
  overflow-x: hidden;
}
